@using AngryMonkey.CloudWeb;
@using Microsoft.AspNetCore.Components.Web
@using AngryMonkey.Cloud.Components
@inject CloudPage cloudPage
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@namespace ServerDemo.Pages

<!DOCTYPE html>
<html lang="en">
<head>
    <component type="typeof(CloudHeadInit)" param-CloudPage="cloudPage" render-mode="Static" />
    <script src="./_content/AngryMonkey.Cloud.Components/js/amc-components.min.js"></script>
    <link href="./_content/AngryMonkey.Cloud.Components/css/amc-components.min.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
</body>
</html>
