@page "/Dialog"
@inject CloudPage cloudPage
@{
	cloudPage.Title = "Dialog";
}

<Dialog @ref="dialog" Title="Dialog Title" Buttons="DialogButtons">
	Dialog Content
</Dialog>

<button @onclick="OpenDialog">Open Dialog</button>

<div>
	<h2>Dialog Reply</h2>
	<div>@DialogReply</div>
</div>

@for (int i = 0; i < 100; i++)
{
	<section>
		<div>
			Lorem
		</div>
	</section>
}

@code {
	private Dialog? dialog;
	private List<DialogButton> DialogButtons = new();
	private static string DialogReply = string.Empty;

	private void OpenDialog()
	{
		DialogButtons = new()
		{
			new DialogButton(){
				Text = "OK",
				AutoClose = false,
				OnReply = () => {
					DialogReply = "Ok";
					StateHasChanged();
					dialog.Close();
				}
			},

			new DialogButton(){
				Text = "Not OK",
				OnReply = () => {
					DialogReply = "Not Ok";
					StateHasChanged();
				}
			}
		};

		dialog.Open();
	}
}