@page "/Popup"
@inject CloudPage cloudPage
@{
	cloudPage.SetTitle("Popup");
}

<PopupComp @ref="popup">
	Popup Opened!
</PopupComp>

<button @onclick="OpenPopup">Open Popup</button>


@code {
	private PopupComp? popup;

	private async Task OpenPopup()
	{
		await popup.Open();
	}
}