@page "/Popup"
@inject CloudPage cloudPage
@{
	cloudPage.Title = "Popup";
}

<Popup @ref="popup">
	Popup Opened!
</Popup>

<button @onclick="OpenPopup">Open Popup</button>


@code {
	private Popup? popup;

	private void OpenPopup()
	{
		popup.Open();
	}
}