@page "/Switch"
@inject CloudPage cloudPage
@{
    cloudPage.Title = "Popup";
}

<AngryMonkey.Cloud.Components.Switch Value="Value" ValueChanged="()=>TestOnValueChanged()"></AngryMonkey.Cloud.Components.Switch>

@if (Value.HasValue)
{
    <div>@Value.ToString()</div>
}

@code {

    private bool? Value { get; set; }

    protected async Task TestOnValueChanged()
    {
        Console.WriteLine("ss");
    }
}