.ComponentsDefault {
  user-select: none;
  font-family: 'Segoe UI';
  font-size: 0.9rem;
}
.ComponentsDefault button,
.ComponentsDefault button:active,
.ComponentsDefault button:focus,
.ComponentsDefault button:visited {
  background: none;
  outline: none !important;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.ComponentsDefault,
.ComponentsDefault * {
  -webkit-tap-highlight-color: transparent;
}
.ComponentsDefault ::deep .--amc-iconbutton,
.ComponentsDefault ::deep .--amc-iconbutton:active,
.ComponentsDefault ::deep .--amc-iconbutton:focus,
.ComponentsDefault ::deep .--amc-iconbutton:visited {
  padding: 4px;
  display: flex;
}
.ComponentsDefault ::deep .--amc-iconbutton svg {
  height: 1.8em;
}
.ComponentsDefault ::deep .amc-svg-fill {
  fill: var(--amc-accentColor);
}
.ComponentsDefault ::deep .amc-svg-stroke {
  fill: none;
  stroke: var(--amc-accentColor);
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.ComponentsDefault ::deep .amc-svg-stroke._corner-rounded {
  stroke-linecap: round;
}
.amc-tabs {
  user-select: none;
  font-family: 'Segoe UI';
  font-size: 0.9rem;
  display: flex;
  min-height: 1.4em;
  justify-content: space-around;
}
.amc-tabs button,
.amc-tabs button:active,
.amc-tabs button:focus,
.amc-tabs button:visited {
  background: none;
  outline: none !important;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.amc-tabs,
.amc-tabs * {
  -webkit-tap-highlight-color: transparent;
}
.amc-tabs ::deep .--amc-iconbutton,
.amc-tabs ::deep .--amc-iconbutton:active,
.amc-tabs ::deep .--amc-iconbutton:focus,
.amc-tabs ::deep .--amc-iconbutton:visited {
  padding: 4px;
  display: flex;
}
.amc-tabs ::deep .--amc-iconbutton svg {
  height: 1.8em;
}
.amc-tabs ::deep .amc-svg-fill {
  fill: var(--amc-accentColor);
}
.amc-tabs ::deep .amc-svg-stroke {
  fill: none;
  stroke: var(--amc-accentColor);
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.amc-tabs ::deep .amc-svg-stroke._corner-rounded {
  stroke-linecap: round;
}
.amc-tab {
  border: none;
  position: relative;
}
.amc-tab::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--amc-accentColor);
  transition: width 200ms ease-in-out;
}
.amc-tab:hover::after {
  width: 1em;
}
.amc-tab._active {
  pointer-events: none;
  cursor: default;
  color: var(--amc-accentColor);
}
.amc-tab._active::after {
  width: 2em;
}
