@import (reference) "../src/css/theme.less";
@import '../General/css/common.less';

::deep {
    .amc-dialog-message {
        color: inherit;
    }

    .amc-dialog-buttons {
        display: flex;
        justify-content: right;
        gap: 5px;

        button {
            &,
            &:focus,
            &:hover {
                padding: .4em .6em;
                color: @components-color-primary;
                background-color: #fff;
                border-radius: 4px;
                border: 1px solid transparent;

                &:focus {
                    border-color: @components-color-primary;
                }

                &:hover {
                    color: #fff;
                    background-color: @components-color-primary;
                    border-color: @components-color-primary;
                }
            }
        }
    }
}
