.Selectable {
  -webkit-touch-callout: initial;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.UnSelectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ComponentsDefault {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ComponentsDefault button,
.ComponentsDefault button:active,
.ComponentsDefault button:focus,
.ComponentsDefault button:visited {
  outline: none !important;
  border: none;
  border-radius: 0;
}
.Extendible {
  border: 1px solid transparent;
}
.Extendible._extended {
  border-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}
.amc-videoplayer {
  --amc-videoplayer-accentColor: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: column;
  /*	&-exitfullscreen {
		display: none;
	}

	&._fullscreen {
		.amc-videoplayer {
			&-enterfullscreen {
				display: none;
			}

			&-exitfullscreen {
				display: inline-block;
			}
		}
	}*/
}
.amc-videoplayer button,
.amc-videoplayer button:active,
.amc-videoplayer button:focus,
.amc-videoplayer button:visited {
  outline: none !important;
  border: none;
  border-radius: 0;
}
.amc-videoplayer ::deep .amc-progressbar {
  --amc-progressbar-accentColor: var(--amc-videoplayer-accentColor);
}
.amc-videoplayer-sidebar {
  background-color: rgba(0, 0, 0, 0.4);
  white-space: nowrap;
  overflow: hidden;
  padding: 20px;
  min-width: 20%;
  max-width: 60%;
  color: #fff;
}
.amc-videoplayer-sidebar-menu {
  display: flex;
  flex-direction: column;
}
.amc-videoplayer-sidebar button {
  font-size: 1.1em;
  padding: 5px 0;
  width: 100%;
  text-align: left;
}
.amc-videoplayer-sidebar label {
  display: block;
  margin-top: 10px;
  opacity: 0.8;
  font-size: 1.1rem;
}
.amc-videoplayer-sidebar-value {
  word-wrap: break-word;
  width: 100%;
  overflow: hidden;
}
.amc-videoplayer-sidebar a,
.amc-videoplayer-sidebar a:visited,
.amc-videoplayer-sidebar a:active,
.amc-videoplayer-sidebar a:focus {
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
  font-weight: bold;
}
.amc-videoplayer-sidebar a:hover,
.amc-videoplayer-sidebar a:visited:hover,
.amc-videoplayer-sidebar a:active:hover,
.amc-videoplayer-sidebar a:focus:hover {
  opacity: 1;
}
.amc-videoplayer-content {
  flex: 1;
  display: flex;
}
.amc-videoplayer-empty {
  flex: 1;
  cursor: pointer;
  position: relative;
}
.amc-videoplayer-close {
  position: absolute;
  top: 5px;
  right: 20px;
  color: #fff;
  font-size: 50px;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.amc-videoplayer-close span {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}
.amc-videoplayer-video {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  background-color: #000;
  z-index: -2;
}
.amc-videoplayer-video video {
  height: 100%;
  width: 100%;
}
.amc-videoplayer button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}
.amc-videoplayer button .amc-videoplayer-svg-fill {
  fill: #fff;
}
.amc-videoplayer button:hover {
  opacity: 1;
}
.amc-videoplayer-info,
.amc-videoplayer-controls,
.amc-videoplayer-progress {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  color: #fff;
  z-index: 2;
}
.amc-videoplayer-progress {
  padding: 0 10px;
}
.amc-videoplayer-progress ::deep .amc-progressbar {
  padding-top: 10px;
  padding-bottom: 10px;
}
.amc-videoplayer-controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.amc-videoplayer-controls > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.amc-videoplayer-controls > div > div {
  padding-left: 5px;
  padding-right: 5px;
}
.amc-videoplayer-controls-right {
  justify-content: flex-end;
}
.amc-videoplayer-controls button {
  padding: 5px;
  display: flex;
}
.amc-videoplayer-controls button svg {
  width: 18px;
  height: 20px;
}
.amc-videoplayer-volume {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
}
.amc-videoplayer-volume._extended {
  border-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}
.amc-videoplayer-volume-bar {
  width: 100px;
  padding: 5px;
}
.amc-videoplayer-volume-bar ::deep .amc-progressbar {
  height: 20px;
  --amc-progressbar-seekbuttonSize: 15px;
}
.amc-videoplayer-volume-value {
  width: 3ch;
  opacity: 0.9;
}
.amc-videoplayer-timeduration {
  white-space: nowrap;
}
.amc-videoplayer-pause {
  display: none;
}
.amc-videoplayer._playing .amc-videoplayer-play {
  display: none;
}
.amc-videoplayer._playing .amc-videoplayer-pause {
  display: inline-block;
}
.amc-videoplayer._hidecontrols * {
  cursor: none;
}
.amc-videoplayer._hidecontrols .amc-videoplayer-info,
.amc-videoplayer._hidecontrols .amc-videoplayer-controls {
  display: none;
}
.amc-videoplayer._hidecontrols .amc-videoplayer-progress {
  padding-left: 1px;
  padding-right: 1px;
}
.amc-videoplayer._hidecontrols .amc-videoplayer-progress ::deep .amc-progressbar {
  padding-top: 1px;
  padding-bottom: 1px;
}
