@namespace AngryMonkey.Cloud.Components
@inject IJSRuntime jsRuntime

<div class="amc-videoplayer" @ref="ComponentElement">

    <div class="amc-videoplayer-video">
        <video src="@VideoUrl" @onload="VideoLoaded" @onchange="OnVideoChange"></video>
    </div>

    <div class="amc-videoplayer-info">
        <div class="amc-videoplayer-title">@Title</div>
    </div>

    <div class="amc-videoplayer-controls">
        <div class="amc-videoplayer-controls-left">
            <button class="amc-videoplayer-play" @onclick="PlayVideo">
                <svg viewBox="0 0 36 40">
                    <path class="amc-videoplayer-svg-fill" d="M34.5,19.1C34.5,19.1,34.5,19.1,34.5,19.1c0-0.5-0.2-0.8-0.6-1L6.5,3.2l0,0C6.3,3.1,6.1,3.1,5.9,3.1h0
	                c0,0,0,0,0,0c-0.6,0-1.1,0.5-1.1,1.1v29.7l0,0v0c0,0.6,0.5,1.1,1.1,1.1c0.2,0,0.4-0.1,0.5-0.1l27.4-14.9l0,0
	                C34.2,19.9,34.5,19.5,34.5,19.1L34.5,19.1z M7.1,6.1l23.9,12.9L7.1,32V6.1L7.1,6.1z" />
                </svg>
            </button>
            <button class="amc-videoplayer-pause" @onclick="PauseVideo">
                <svg viewBox="0 0 36 40">
                    <path class="amc-videoplayer-svg-fill" d="M11.8,36L11.8,36c-1.5,0-2.8-1.3-2.8-2.8V6.9c0-1.5,1.3-2.8,2.8-2.8h0c1.5,0,2.8,1.3,2.8,2.8v26.3 C14.6,34.7,13.3,36,11.8,36z" />
                    <path class="amc-videoplayer-svg-fill" d="M24.6,36L24.6,36c-1.5,0-2.8-1.3-2.8-2.8V6.9c0-1.5,1.3-2.8,2.8-2.8h0c1.5,0,2.8,1.3,2.8,2.8v26.3 C27.4,34.7,26.2,36,24.6,36z" />
                </svg>
            </button>
            <button class="amc-videoplayer-stop" @onclick="StopVideo">Stop</button>
        </div>

        <div class="amc-videoplayer-controls-middle">
            <span class="amc-videoplayer-duration"></span>
        </div>

        <div class="amc-videoplayer-controls-right">
            <button class="amc-videoplayer-enterfullscreen" @onclick="EnterFullScreen">Full Screen</button>
            <button class="amc-videoplayer-exitfullscreen" @onclick="ExitFullScreen">Exit Full Screen</button>
        </div>
    </div>

    <div class="amc-videoplayer-progress">
        <ProgressBar Value="CurrentTime" Total="Duration" OnChange="DurationChange" />
    </div>

</div>

@code {
    private ElementReference ComponentElement { get; set; }

    private Task<IJSObjectReference> _module;
    private Task<IJSObjectReference> Module => _module ??= GeneralMethods.GetIJSObjectReference(jsRuntime, "videoplayer/videoplayer.js");

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string VideoUrl { get; set; }

    public double Duration { get; set; } = 0;
    public double CurrentTime { get; set; } = 0;

    [Parameter]
    public Action<VideoState> TimeUpdate { get; set; }

    [Parameter]
    public EventCallback<VideoState> TimeUpdateEvent { get; set; }
    bool TimeUpdateRequired => TimeUpdate is object;
    bool TimeUpdateEventRequired => TimeUpdateEvent.HasDelegate;
    bool EventFiredEventRequired => EventFiredEvent.HasDelegate;
    bool EventFiredRequired => EventFired is object;
    [Parameter] public Action<VideoEventData> EventFired { get; set; }
    [Parameter] public EventCallback<VideoEventData> EventFiredEvent { get; set; }
    bool RegisterTimeUpdate => TimeUpdateEventRequired || TimeUpdateRequired;

    [Parameter]
    public Dictionary<VideoEvents, VideoStateOptions> VideoEventOptions { get; set; }
    bool RegisterEventFired => EventFiredEventRequired || EventFiredRequired;

    [Parameter]
    public Components.VideoPlayerSettings Settings { get; set; }

    public async Task DurationChange(ChangeEventArgs args)
    {
        var module = await Module;

        await module.InvokeVoidAsync("changeCurrentTime", ComponentElement, Convert.ToDouble(args.Value));
    }



    public async Task OnVideoChange(ChangeEventArgs args)
    {
        VideoEventData eventData = JsonSerializer.Deserialize<VideoEventData>((string)args.Value);

        switch (eventData.EventName)
        {
            case VideoEvents.TimeUpdate:
                CurrentTime = eventData.State.CurrentTime;
                break;

            default: break;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var module = await Module;

            await module.InvokeVoidAsync("init", ComponentElement);

            await Implement(VideoEvents.TimeUpdate);
        }
    }

    async Task Implement(VideoEvents eventName)
    {

        VideoStateOptions options = new VideoStateOptions() { All = true };
        VideoEventOptions?.TryGetValue(eventName, out options);

        var module = await Module;

        await module.InvokeVoidAsync("registerCustomEventHandler", ComponentElement, eventName.ToString().ToLower(), options.GetPayload());
    }

    public async Task VideoLoaded()
    {
        var module = await Module;

        VideoInfo videoInfo = await module.InvokeAsync<VideoInfo>("getVideoInfo", ComponentElement);

        Duration = Convert.ToDouble(videoInfo.Duration);
    }

    public async Task PlayVideo()
    {
        var module = await Module;

        await module.InvokeVoidAsync("play", ComponentElement);
    }

    public async Task PauseVideo()
    {
        var module = await Module;

        await module.InvokeVoidAsync("pause", ComponentElement);
    }

    public async Task EnterFullScreen()
    {
        var module = await Module;

        await module.InvokeVoidAsync("enterFullScreen", ComponentElement);
    }

    public async Task ExitFullScreen()
    {
        var module = await Module;

        await module.InvokeVoidAsync("exitFullScreen", ComponentElement);
    }

    public async Task StopVideo()
    {
        CurrentTime = 0;

        var module = await Module;

        await module.InvokeVoidAsync("stop", ComponentElement);
    }

    public async ValueTask DisposeAsync()
    {
        if (_module != null)
        {
            var module = await _module;
            await module.DisposeAsync();
        }
    }
}