@import '../General/css/common.less';

.Extendible {
	border: 1px solid transparent;

	&._extended {
		border-color: rgba(255, 255, 255, .4);
		border-radius: 3px;
		background-color: rgba(255, 255, 255, .2);
	}
}

.amc-videoplayer {
	--amc-videoplayer-accentColor: #fff;
	.ComponentsDefault();
	position: relative;
	display: flex;
	flex-direction: column;

	::deep .amc-progressbar {
		--amc-progressbar-accentColor: var(--amc-videoplayer-accentColor);
	}

	&-sidebar {
		background-color: rgba(0, 0, 0, .4);
		white-space: nowrap;
		overflow: hidden;
		padding: 20px;
		min-width: 20%;
		max-width: 60%;
		color: #fff;
		border-radius: 5px;
		margin: 7px;

		&-menu {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		button {
			font-size: 1.1em;
			width: 100%;
			text-align: left;
			padding: 5px;
		}

		label {
			display: block;
			margin-top: 10px;
			opacity: .8;
			font-size: 1.1rem;
		}

		&-value {
			word-wrap: break-word;
			width: 100%;
			overflow: hidden;
		}

		a {
			&, &:visited, &:active, &:focus {
				color: #fff;
				text-decoration: none;
				opacity: .9;
				font-weight: bold;

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	&-content {
		flex: 1;
		display: flex;
	}

	&-close {
		position: absolute;
		top: 5px;
		right: 5px;
		color: #fff;
		font-size: 50px;
		border-radius: 50%;
		display: inline-block;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: .8;

		span {
			padding: 4px;
		}

		svg {
			width: 32px;
			height: 32px;
			filter: drop-shadow(0 0 3px rgba(0, 0, 0, .3));

			.amc-videoplayer {
				&-svg {

					&-fill {
						fill: #fff;
					}

					&-stroke {
						fill: none;
						stroke: #fff;
						stroke-width: 0.5;
						stroke-miterlimit: 10;

						&._corner-rounded {
							stroke-linecap: round;
						}
					}
				}
			}
		}
	}

	&-empty {
		flex: 1;
		cursor: pointer;
		position: relative;

		&:hover {
			.amc-videoplayer {
				&-close {
					opacity: 1;
				}
			}
		}
	}

	&-video {
		height: 100%;
		width: 100%;
		position: absolute;
		inset: 0;
		background-color: #000;
		z-index: -2;

		video {
			height: 100%;
			width: 100%;
		}
	}

	button {
		background: none;
		border: none;
		color: #fff;
		cursor: pointer;
		opacity: .8;
		transition: opacity .2s ease-in-out;

		.amc-videoplayer {
			&-svg {
				&-fill {
					fill: #fff;
				}

				&-stroke {
					fill: none;
					stroke: #fff;
					stroke-width: 0.5;
					stroke-miterlimit: 10;

					&._corner-rounded {
						stroke-linecap: round;
					}
				}
			}
		}

		&:hover {
			opacity: 1;
		}
	}

	&-info,
	&-controls,
	&-progress {
		background-color: rgba(0, 0, 0, .4);
		padding: 10px;
		color: #fff;
		z-index: 2;
	}

	&-progress {
		padding: 0 10px;

		::deep .amc-progressbar {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}

	&-info {
	}

	&-controls {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

		> div {
			display: flex;
			flex-direction: row;
			align-items: center;

			> div {
				padding-left: 5px;
				padding-right: 5px;
			}
		}

		&-right {
			justify-content: flex-end;
		}

		button {
			padding: 4px;
			display: flex;

			svg {
				width: 24px;
				height: 24px;
			}
		}
	}

	&-volume {
		display: flex;
		align-items: center;
		.Extendible();

		&-bar {
			width: 100px;
			padding: 5px;

			::deep .amc-progressbar {
				height: 20px;
				--amc-progressbar-seekbuttonSize: 15px;
			}
		}

		&-value {
			width: 3ch;
			opacity: .9;
		}
	}

	&-timeduration {
		white-space: nowrap;
	}

	&-pause {
		display: none;
	}

	&._playing {
		.amc-videoplayer {
			&-play {
				display: none;
			}

			&-pause {
				display: inline-block;
			}
		}
	}

	&._hidecontrols {

		* {
			cursor: none;
		}

		.amc-videoplayer {
			&-info,
			&-controls {
				display: none;
			}

			&-progress {
				padding-left: 1px;
				padding-right: 1px;

				::deep .amc-progressbar {
					padding-top: 1px;
					padding-bottom: 1px;
				}
			}
		}
	}

	&-seekinfo {
		display: flex;
		padding: 7px;

		&-container {
			background-color: rgba(0, 0, 0, .4);
			color: #fff;
			border-radius: 5px;
			/*border: 1px solid #000;*/
			text-align: center;
			padding: 10px;
			white-space: nowrap;
		}
	}

	&:not(._showseekinginfo) {
		.amc-videoplayer {
			&-seekinfo {
				display: none;
			}
		}
	}
}
