.Selectable {
  -webkit-touch-callout: initial;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.UnSelectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ComponentsDefault {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ComponentsDefault button,
.ComponentsDefault button:active,
.ComponentsDefault button:focus,
.ComponentsDefault button:visited {
  outline: none !important;
  border: none;
  border-radius: 0;
}
.ComponentsDefault,
.ComponentsDefault * {
  -webkit-tap-highlight-color: transparent;
}
.Extendible {
  border: 1px solid transparent;
  transition: all var(--transitionDuration);
}
.Extendible._extended {
  border-color: rgba(255, 255, 255, 0.4);
  border-radius: var(--amc-videoplayer-roundedCorder);
  background-color: rgba(255, 255, 255, 0.2);
}
.amc-videoplayer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --amc-videoplayer-accentColor: #fff;
  --amc-videoplayer-roundedCorder: 3px;
  --backgroundColor: rgba(0, 0, 0, 0.4);
  --transitionDuration: 200ms;
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
.amc-videoplayer button,
.amc-videoplayer button:active,
.amc-videoplayer button:focus,
.amc-videoplayer button:visited {
  outline: none !important;
  border: none;
  border-radius: 0;
}
.amc-videoplayer,
.amc-videoplayer * {
  -webkit-tap-highlight-color: transparent;
}
.amc-videoplayer-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.amc-videoplayer-status ::deep svg {
  width: 16px;
  height: 16px;
  opacity: 0.8;
}
.amc-videoplayer ::deep .amc-progressbar {
  --amc-progressbar-accentColor: var(--amc-videoplayer-accentColor);
}
.amc-videoplayer-settings-subvalue {
  opacity: 0.7;
  font-size: 0.8em;
}
.amc-videoplayer-settings-angrymonkeycloud {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
}
.amc-videoplayer-settings-angrymonkeycloud ::deep svg {
  align-self: flex-end;
  width: 100%;
  max-width: 150px;
}
.amc-videoplayer-settings-angrymonkeycloud ::deep svg .amc-svg-fill {
  fill: #fff;
}
.amc-videoplayer-sidebar {
  background-color: var(--backgroundColor);
  white-space: nowrap;
  overflow: hidden auto;
  padding: 10px 0;
  min-width: 20%;
  max-width: 60%;
  color: #fff;
  border-radius: var(--amc-videoplayer-roundedCorder);
  margin: 7px;
}
.amc-videoplayer-sidebar > div > * {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.amc-videoplayer-sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
.amc-videoplayer-sidebar button {
  font-size: 1.1em;
  width: 100%;
  text-align: left;
  padding: 10px;
  border: 1px solid transparent;
}
.amc-videoplayer-sidebar button._selected {
  opacity: 1;
  pointer-events: none;
}
.amc-videoplayer-sidebar button:hover:not(._selected) {
  background-color: rgba(255, 255, 255, 0.2);
}
.amc-videoplayer-sidebar label {
  display: block;
  margin-top: 10px;
  font-size: 1.1rem;
  opacity: 1;
}
.amc-videoplayer-sidebar-value {
  word-wrap: break-word;
  width: 100%;
  overflow: hidden;
  font-size: 0.8em;
}
.amc-videoplayer-sidebar-playbackspeed {
  display: flex;
  flex-direction: column;
}
.amc-videoplayer-sidebar a,
.amc-videoplayer-sidebar a:visited,
.amc-videoplayer-sidebar a:active,
.amc-videoplayer-sidebar a:focus {
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
  font-weight: bold;
}
.amc-videoplayer-sidebar a:hover,
.amc-videoplayer-sidebar a:visited:hover,
.amc-videoplayer-sidebar a:active:hover,
.amc-videoplayer-sidebar a:focus:hover {
  opacity: 1;
}
.amc-videoplayer-top {
  flex: 1;
  display: flex;
  overflow: hidden;
}
.amc-videoplayer-close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  font-size: 50px;
  /*border-radius: 50%;*/
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}
.amc-videoplayer-close span {
  padding: 4px;
}
.amc-videoplayer-close svg {
  width: 32px;
  height: 32px;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
}
.amc-videoplayer-close svg .amc-videoplayer-svg-fill {
  fill: #fff;
}
.amc-videoplayer-close svg .amc-videoplayer-svg-stroke {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.amc-videoplayer-close svg .amc-videoplayer-svg-stroke._corner-rounded {
  stroke-linecap: round;
}
.amc-videoplayer-empty {
  flex: 1;
  cursor: pointer;
  position: relative;
}
.amc-videoplayer-empty:hover .amc-videoplayer-close {
  opacity: 1;
}
.amc-videoplayer-video {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  background-color: #000;
  z-index: -2;
}
.amc-videoplayer-video video {
  height: 100%;
  width: 100%;
}
.amc-videoplayer button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}
.amc-videoplayer button .amc-videoplayer-svg-fill {
  fill: #fff;
}
.amc-videoplayer button .amc-videoplayer-svg-stroke {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.amc-videoplayer button .amc-videoplayer-svg-stroke._corner-rounded {
  stroke-linecap: round;
}
.amc-videoplayer button:hover {
  opacity: 1;
}
.amc-videoplayer-info,
.amc-videoplayer-controls,
.amc-videoplayer-progress {
  padding: 10px;
  color: #fff;
  z-index: 2;
}
.amc-videoplayer-progress {
  padding: 0 10px;
}
.amc-videoplayer-progress ::deep .amc-progressbar {
  padding-top: 10px;
  padding-bottom: 10px;
}
.amc-videoplayer-controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.amc-videoplayer-controls > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.amc-videoplayer-controls > div > div {
  padding-left: 5px;
  padding-right: 5px;
}
.amc-videoplayer-controls-right {
  justify-content: flex-end;
}
.amc-videoplayer-controls button {
  padding: 4px;
  display: flex;
}
.amc-videoplayer-controls button svg {
  width: 24px;
  height: 24px;
}
.amc-videoplayer-volume {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  transition: all var(--transitionDuration);
}
.amc-videoplayer-volume._extended {
  border-color: rgba(255, 255, 255, 0.4);
  border-radius: var(--amc-videoplayer-roundedCorder);
  background-color: rgba(255, 255, 255, 0.2);
}
.amc-videoplayer-volume-bar {
  width: 100px;
  padding: 5px;
}
.amc-videoplayer-volume-bar ::deep .amc-progressbar {
  height: 20px;
  --amc-progressbar-seekbuttonSize: 15px;
}
.amc-videoplayer-volume-value {
  width: 3ch;
  opacity: 0.9;
}
.amc-videoplayer-timeduration {
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.8;
}
.amc-videoplayer-pause {
  display: none;
}
.amc-videoplayer._playing .amc-videoplayer-play {
  display: none;
}
.amc-videoplayer._playing .amc-videoplayer-pause {
  display: inline-block;
}
.amc-videoplayer .amc-videoplayer-content {
  transition: background-color var(--transitionDuration);
}
.amc-videoplayer:not(._hidecontrols) .amc-videoplayer-content {
  background-color: var(--backgroundColor);
}
.amc-videoplayer._hidecontrols * {
  cursor: none;
}
.amc-videoplayer._hidecontrols .amc-videoplayer-info,
.amc-videoplayer._hidecontrols .amc-videoplayer-controls {
  display: none;
}
.amc-videoplayer._hidecontrols .amc-videoplayer-progress {
  padding-left: 1px;
  padding-right: 1px;
}
.amc-videoplayer._hidecontrols .amc-videoplayer-progress ::deep .amc-progressbar {
  padding-top: 1px;
  padding-bottom: 1px;
}
.amc-videoplayer-seekinfo {
  display: flex;
  padding: 7px;
  padding-top: 0;
}
.amc-videoplayer-seekinfo-container {
  background-color: var(--backgroundColor);
  color: #fff;
  border-radius: var(--amc-videoplayer-roundedCorder);
  text-align: center;
  padding: 10px;
  white-space: nowrap;
}
.amc-videoplayer:not(._showseekinginfo) .amc-videoplayer-seekinfo {
  display: none;
}
