<nav class="nav">
    <div class="nav-brand">
        <span class="nav-brand-mark">◈</span>
        <span>Cloud Components</span>
    </div>

    <div class="nav-links">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Overview</NavLink>
        <NavLink class="nav-link" href="popup">Popup &amp; Dialog</NavLink>
        <NavLink class="nav-link" href="switch">Switch</NavLink>
        <NavLink class="nav-link" href="tabs">Tabs</NavLink>
        <NavLink class="nav-link" href="progressbar">Progress Bar</NavLink>
        <NavLink class="nav-link" href="volumebar">Volume Bar</NavLink>
        <NavLink class="nav-link" href="datetimepicker">Date &amp; Time Picker</NavLink>
    </div>
</nav>
