.ComponentsDefault {
  user-select: none;
  font-family: 'Segoe UI';
  font-size: 0.9rem;
}
.ComponentsDefault button,
.ComponentsDefault button:active,
.ComponentsDefault button:focus,
.ComponentsDefault button:visited {
  background: none;
  outline: none !important;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.ComponentsDefault,
.ComponentsDefault * {
  -webkit-tap-highlight-color: transparent;
}
.ComponentsDefault ::deep .--amc-iconbutton,
.ComponentsDefault ::deep .--amc-iconbutton:active,
.ComponentsDefault ::deep .--amc-iconbutton:focus,
.ComponentsDefault ::deep .--amc-iconbutton:visited {
  padding: 4px;
  display: flex;
}
.ComponentsDefault ::deep .--amc-iconbutton svg {
  height: 1.8em;
}
.ComponentsDefault ::deep .amc-svg-fill {
  fill: var(--amc-accentColor);
}
.ComponentsDefault ::deep .amc-svg-stroke {
  fill: none;
  stroke: var(--amc-accentColor);
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.ComponentsDefault ::deep .amc-svg-stroke._corner-rounded {
  stroke-linecap: round;
}
.amc-volumebar {
  user-select: none;
  font-family: 'Segoe UI';
  font-size: 0.9rem;
  color: var(--amc-accentColor);
  display: flex;
  align-items: center;
}
.amc-volumebar button,
.amc-volumebar button:active,
.amc-volumebar button:focus,
.amc-volumebar button:visited {
  background: none;
  outline: none !important;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.amc-volumebar,
.amc-volumebar * {
  -webkit-tap-highlight-color: transparent;
}
.amc-volumebar ::deep .--amc-iconbutton,
.amc-volumebar ::deep .--amc-iconbutton:active,
.amc-volumebar ::deep .--amc-iconbutton:focus,
.amc-volumebar ::deep .--amc-iconbutton:visited {
  padding: 4px;
  display: flex;
}
.amc-volumebar ::deep .--amc-iconbutton svg {
  height: 1.8em;
}
.amc-volumebar ::deep .amc-svg-fill {
  fill: var(--amc-accentColor);
}
.amc-volumebar ::deep .amc-svg-stroke {
  fill: none;
  stroke: var(--amc-accentColor);
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.amc-volumebar ::deep .amc-svg-stroke._corner-rounded {
  stroke-linecap: round;
}
.amc-volumebar-bar {
  width: 100px;
  padding: 5px;
}
.amc-volumebar-bar ::deep .amc-progressbar {
  height: 20px;
}
.amc-volumebar-bar ::deep .amc-progressbar button {
  font-size: 0.75em !important;
}
.amc-volumebar-value {
  width: 3ch;
  opacity: 0.9;
}
