:root {
  -webkit-tap-highlight-color: transparent;
  /* Consistent line spacing, which does not unnecessarily grow to accommodate things that would fit anyway */
  /* From CSS Inline Layout Module Level 3: https://drafts.csswg.org/css-inline-3/#line-sizing-property */
  line-sizing: normal;
  /* Improve spacing of punctuation marks and at script changes in CJK languages */
  /* From CSS Text Module Level 4: https://drafts.csswg.org/css-text-4/#text-spacing-property */
  text-spacing: trim-start allow-end trim-adjacent ideograph-alpha ideograph-numeric;
}
body > header,
body > footer {
  user-select: none;
}
button,
a {
  user-select: none;
}
html {
  height: 100%;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
html ._noscroll,
body ._noscroll {
  overflow: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1 {
  font-size: 2rem;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.17rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.67rem;
}
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
pre {
  white-space: pre-wrap;
}
hr {
  border: 0.5px solid;
}
*:focus,
*:active {
  outline: none;
}
input,
select,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
a,
a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
}
img,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* Switch display mode to block, since that's what we usually want for images. */
  vertical-align: middle;
  /* If you override, and make an image inline, it's likely you'll want middle vertical alignment. */
}
img,
video {
  max-width: 100%;
  /* Make images and video flexible by default. */
  height: auto;
  /* Ensure images and video maintain their aspect ratio when max-width comes into play. */
}
img {
  display: inline-block;
  max-width: 100%;
}
[disabled="disabled"] {
  opacity: 0.4;
  pointer-events: none;
}
textarea {
  resize: none;
}
code,
kbd,
samp {
  font-family: monospace;
  font-size: 1rem;
}
section,
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
section article,
aside article {
  max-width: var(--maxWidth);
  width: 100%;
  overflow: hidden;
}
:root {
  --LinkColor: #00698f;
}
body {
  background-color: #fff;
}
body .components {
  width: 100%;
  background-color: #000;
}
body .components-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}
body .components-links a,
body .components-links a:hover,
body .components-links a:active,
body .components-links a:focus,
body .components-links a:visited {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 1em;
  font-family: sans-serif;
  letter-spacing: 2px;
  margin-left: 20px;
  border-bottom: 1px groove transparent;
}
body .components-links a:hover {
  border-color: #fff;
}
body .components-icon {
  display: none;
}
@media screen and (max-width: 1000px) {
  body .components-links {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  body .components-links a,
  body .components-links a:hover,
  body .components-links a:active,
  body .components-links a:focus,
  body .components-links a:visited {
    padding: 5px;
    margin-top: 10px;
  }
  body .components-links a:hover {
    border-bottom: 1px groove #fff;
    color: white;
  }
  body .components-links a:hover:active {
    border-bottom-color: var(--LinkColor);
  }
}
body main {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
body main > section {
  display: flex;
  align-items: center;
}
body main > section > div {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
body main > .amc-progressbar {
  --amc-accentColor: var(--LinkColor);
  width: 600px;
}
body main > .amc-volumebar {
  --amc-accentColor: var(--LinkColor);
}
body main > .amc-dialog {
  --amc-accentColor: var(--LinkColor);
}
body main > .amc-videoplayer {
  --amc-accentColor: #fff;
  max-width: 800px;
  width: 100vw;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}
body main > .amc-videoplayer * {
  color: #000;
}
body main .amc-datetimepicker-section h2 {
  text-align: center;
  opacity: 0.7;
  margin-bottom: 20px;
}
body main .amc-datetimepicker-section .amc-datetimepicker {
  --amc-datetimepicker-backgroundColor: var(--LinkColor) !important;
  --amc-datetimepicker-accentColor: #fff !important;
  margin-bottom: 100px;
}
