@namespace AngryMonkey.Cloud.Components

@inject IJSRuntime _js

<PopupComp @ref="_popup"
		   Title="@Title"
		   PreventCloseOnClick="true"
		   HeaderClose="false"
		   Size="_small">
	<ChildContent>
		@if (ChildContent != null)
		{
			<div class="amc-dialog-message">@ChildContent</div>
		}
	</ChildContent>
	<Footer>
		@if (Buttons != null && Buttons.Any())
		{
			<div class="amc-dialog-buttons">
				@foreach (DialogButton button in Buttons)
				{
					<button @onclick="async () => { await ButtonClicked(button); }">@button.Text</button>
				}
			</div>
		}
	</Footer>
</PopupComp>