@namespace AngryMonkey.Cloud.Components
@inject IJSRuntime jsRuntime

@if (Visible)
{
    <aside @ref="ComponentElement" class="amc-popup" @onclick="ComponentClicked">
        <div class="amc-popup-content">
            @ChildContent
        </div>
    </aside>

}