.amc-videoplayer {
	width: 800px;
	height: 450px;
}

main > .amc-progressbar {
	width: 600px;
	margin-left: 50px;
	margin-top: 50px;
}

body{
	height: 100vh;
	background-image: url(/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}