<div class="cloudvideoplayer">

    <div class="cloudvideoplayer-video">
        <video src="https://angrymonkey.blob.core.windows.net/general/Good%20Morning%20Lebanon.mp4"></video>
    </div>

    <div class="cloudvideoplayer-info">
        <div class="cloudvideoplayer-title">@Title</div>
    </div>

    <div class="cloudvideoplayer-controls">
        <div class="cloudvideoplayer-controls-left">
            <button class="cloudvideoplayer-play">Play</button>
            <button class="cloudvideoplayer-pause">Pause</button>
            <button class="cloudvideoplayer-stop">Stop</button>
        </div>

        <div class="cloudvideoplayer-controls-middle">
            <span class="cloudvideoplayer-duration"></span>
        </div>

        <div class="cloudvideoplayer-controls-right">
            <button class="cloudvideoplayer-fullscreen">Full Screen</button>
        </div>
    </div>

    <div class="cloudvideoplayer-progress">
    </div>

</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public CloudVideoPlayerSettings Settings { get; set; }

}