.Selectable {
  -webkit-touch-callout: initial;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.UnSelectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ComponentsDefault {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}
.ComponentsDefault button,
.ComponentsDefault button:active,
.ComponentsDefault button:focus,
.ComponentsDefault button:visited {
  background: none;
  outline: none !important;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.ComponentsDefault,
.ComponentsDefault * {
  -webkit-tap-highlight-color: transparent;
}
.ComponentsDefault ::deep .--amc-iconbutton,
.ComponentsDefault ::deep .--amc-iconbutton:active,
.ComponentsDefault ::deep .--amc-iconbutton:focus,
.ComponentsDefault ::deep .--amc-iconbutton:visited {
  padding: 4px;
  display: flex;
}
.ComponentsDefault ::deep .--amc-iconbutton svg {
  height: 1.8em;
}
.ComponentsDefault ::deep .amc-svg-fill {
  fill: var(--amc-accentColor);
}
.ComponentsDefault ::deep .amc-svg-stroke {
  fill: none;
  stroke: var(--amc-accentColor);
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.ComponentsDefault ::deep .amc-svg-stroke._corner-rounded {
  stroke-linecap: round;
}
.amc-progressbar {
  --amc-progressbar-seekbuttonSize: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  display: grid;
  grid-template-areas: 'left middle right';
  grid-template-columns: 0 max-content 1fr;
  align-items: center;
  cursor: pointer;
  touch-action: none;
}
.amc-progressbar button,
.amc-progressbar button:active,
.amc-progressbar button:focus,
.amc-progressbar button:visited {
  background: none;
  outline: none !important;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.amc-progressbar,
.amc-progressbar * {
  -webkit-tap-highlight-color: transparent;
}
.amc-progressbar ::deep .--amc-iconbutton,
.amc-progressbar ::deep .--amc-iconbutton:active,
.amc-progressbar ::deep .--amc-iconbutton:focus,
.amc-progressbar ::deep .--amc-iconbutton:visited {
  padding: 4px;
  display: flex;
}
.amc-progressbar ::deep .--amc-iconbutton svg {
  height: 1.8em;
}
.amc-progressbar ::deep .amc-svg-fill {
  fill: var(--amc-accentColor);
}
.amc-progressbar ::deep .amc-svg-stroke {
  fill: none;
  stroke: var(--amc-accentColor);
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.amc-progressbar ::deep .amc-svg-stroke._corner-rounded {
  stroke-linecap: round;
}
.amc-progressbar input[type="range"] {
  /*grid-column: span 3;*/
  display: none !important;
}
.amc-progressbar-left,
.amc-progressbar-right {
  width: 100%;
  height: 1px;
  position: relative;
}
.amc-progressbar-left {
  background-color: var(--amc-accentColor);
  grid-area: left;
}
.amc-progressbar-right {
  background-color: var(--amc-accentColor);
  grid-area: right;
  opacity: 0.4;
}
.amc-progressbar-middle {
  grid-area: middle;
  display: flex;
}
.amc-progressbar-middle button,
.amc-progressbar-middle button:active,
.amc-progressbar-middle button:focus,
.amc-progressbar-middle button:visited {
  outline: none;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  z-index: 1;
  cursor: pointer;
  transition: background-color 50ms ease-in-out, filter 100ms ease-in-out;
}
.amc-progressbar-middle button:focus,
.amc-progressbar-middle button:active:focus,
.amc-progressbar-middle button:focus:focus,
.amc-progressbar-middle button:visited:focus,
.amc-progressbar-middle button:hover,
.amc-progressbar-middle button:active:hover,
.amc-progressbar-middle button:focus:hover,
.amc-progressbar-middle button:visited:hover {
  filter: drop-shadow(0 0 4px var(--amc-accentColor));
}
.amc-progressbar._flat .amc-progressbar-middle button {
  background-color: var(--amc-accentColor);
  height: 1px;
  width: 5px;
}
.amc-progressbar._circle .amc-progressbar-middle button {
  width: 1.5em;
  height: 1.5em;
  /*width: var(--amc-progressbar-seekbuttonSize);
					height: var(--amc-progressbar-seekbuttonSize);*/
  display: block;
  border: 2px solid var(--amc-accentColor);
  border-radius: 50%;
  background-color: transparent;
}
.amc-progressbar._circle._moving .amc-progressbar-middle button {
  background-color: var(--amc-accentColor);
}
.amc-progressbar._disk .amc-progressbar-middle button {
  width: 1.5em;
  height: 1.5em;
  /*width: var(--amc-progressbar-seekbuttonSize);
					height: var(--amc-progressbar-seekbuttonSize);*/
  display: block;
  border-radius: 50%;
  background-color: var(--amc-accentColor);
  border: 2px solid transparent;
}
.amc-progressbar._disk._moving .amc-progressbar-middle button {
  background-color: transparent;
  border-color: var(--amc-accentColor);
}
