.amc-progressbar {
  display: grid;
  grid-template-areas: 'left middle right';
  grid-template-columns: 0 max-content 1fr;
  align-items: center;
  cursor: pointer;
}
.amc-progressbar input[type="range"] {
  /*grid-column: span 3;*/
  display: none !important;
}
.amc-progressbar-left,
.amc-progressbar-right {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  background-color: #fff;
  position: relative;
}
.amc-progressbar-left {
  grid-area: left;
}
.amc-progressbar-right {
  grid-area: right;
  opacity: 0.7;
}
.amc-progressbar-middle {
  grid-area: middle;
  display: flex;
}
.amc-progressbar-middle button,
.amc-progressbar-middle button:active,
.amc-progressbar-middle button:focus,
.amc-progressbar-middle button:visited {
  outline: none;
  border: none;
  border-radius: 0;
  font-size: 0;
  padding: 0;
  margin: 0;
  z-index: 1;
  cursor: pointer;
  transition: background-color 50ms ease-in-out, filter 100ms ease-in-out;
}
.amc-progressbar-middle button:focus,
.amc-progressbar-middle button:active:focus,
.amc-progressbar-middle button:focus:focus,
.amc-progressbar-middle button:visited:focus,
.amc-progressbar-middle button:hover,
.amc-progressbar-middle button:active:hover,
.amc-progressbar-middle button:focus:hover,
.amc-progressbar-middle button:visited:hover {
  filter: drop-shadow(0 0 4px #fff);
}
.amc-progressbar._flat .amc-progressbar-middle button {
  background-color: #fff;
  height: 1px;
  width: 5px;
}
.amc-progressbar._circle .amc-progressbar-middle button {
  width: 20px;
  height: 20px;
  display: block;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}
.amc-progressbar._circle._mousemoving .amc-progressbar-middle button {
  background-color: #fff;
}
.amc-progressbar._disk .amc-progressbar-middle button {
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid transparent;
}
.amc-progressbar._disk._mousemoving .amc-progressbar-middle button {
  background-color: transparent;
  border-color: #fff;
}
