@namespace AngryMonkey.Cloud.Components
@inject ProgressBarJsInterop js

<div class="amc-progressbar" @ref="ComponentElement" @onmousedown="MouseDown">
    <div class="amc-progressbar-left"></div>
    <div class="amc-progressbar-middle">
        @if (Total > 0)
        {
            <button>
                <svg viewBox="0 0 40 40" width="@CircleSize" height="@CircleSize">
                    <circle class="amc-progressbar-circle" cx="20" cy="20" r="18" />
                </svg>
            </button>
        }
    </div>
    <div class="amc-progressbar-right"></div>

    <input type="range" max="@Total" min="0" value="@Value" @onchange="RangeValuChanged" />
</div>

@code {
    private ElementReference ComponentElement { get; set; }

    [Parameter]
    public double BufferValue { get; set; }

    [Parameter]
    public double Value { get; set; } = 0;
    private double _value = 0;

    [Parameter]
    public double Total { get; set; }
    private double _total = 0;

    [Parameter]
    public int CircleSize { get; set; } = 30;

    [Parameter]
    public EventCallback<ChangeEventArgs> OnChange { get; set; }

    private async Task OnValueChanged()
    {
        await js.Repaint(ComponentElement, Value, Total);
    }

    protected override async void OnParametersSet()
    {
        base.OnParametersSet();

        if (Value != _value)
        {
            _value = Value;
            await OnValueChanged();
        }

        if (Total != _total)
        {
            _total = Total;
            await OnValueChanged();
        }
    }

    private async Task RangeValuChanged(ChangeEventArgs args)
    {
        double newValue = Convert.ToDouble(args.Value);

        if (Value == newValue)
            return;

        Value = newValue;

        await OnChange.InvokeAsync(new ChangeEventArgs() { Value = Value });
    }

    private async Task MouseDown(MouseEventArgs e)
    {
        await js.MouseDown(ComponentElement, e.ClientX);
    }
}