@namespace CloudComponents.Icons.Demo.Layout
@inherits LayoutComponentBase

<div class="layout">
    <NavMenu />
    <main class="layout-main">
        <div class="layout-content">
            @Body
        </div>
    </main>
</div>
