@namespace CloudComponents.Icons.Demo.Layout

<nav class="nav">
    <div class="nav-brand">
        <span class="nav-brand-mark">&#9632;</span>
        <span>CloudIcons Demo</span>
    </div>

    <div class="nav-links">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Overview</NavLink>
        <NavLink class="nav-link" href="icons">Icons</NavLink>
        <NavLink class="nav-link" href="logos">Logos</NavLink>
        <NavLink class="nav-link" href="compare">Compare</NavLink>
    </div>
</nav>
