@namespace AngryMonkey.Cloud.Components
@inject IJSRuntime jsRuntime
@inject PageBaseSettings pageSettings

@*<div>
    1: @pageSettings.BuildID
</div>
<div>
    2: @pageSettings.BuildID
</div>
<div>
    3: @pageSettings.BuildID
</div>*@