.Selectable {
  -webkit-touch-callout: initial;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.UnSelectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ComponentsDefault {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ComponentsDefault button,
.ComponentsDefault button:active,
.ComponentsDefault button:focus,
.ComponentsDefault button:visited {
  outline: none !important;
  border: none;
  border-radius: 0;
}
.ComponentsDefault,
.ComponentsDefault * {
  -webkit-tap-highlight-color: transparent;
}
.amc-SelectableField {
  border: 1px solid transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.amc-SelectableField._today:after {
  position: absolute;
  content: '';
  width: 1em;
  height: 0.13em;
  background-color: var(--amc-datetimepicker-accentColor);
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  opacity: var(--lowOpacity);
}
.amc-SelectableField._selected {
  background-color: var(--amc-datetimepicker-accentColor);
  color: var(--amc-datetimepicker-backgroundColor);
}
.amc-SelectableField._selected::after {
  background-color: var(--amc-datetimepicker-backgroundColor);
}
.amc-SelectableField:hover:not(._selected) {
  border-color: var(--amc-datetimepicker-accentColor);
}
.amc-SelectableField:not(._current):not(._selected) {
  opacity: var(--lowOpacity);
}
.amc-datetimepicker {
  --amc-datetimepicker-backgroundColor: #fff;
  --amc-datetimepicker-accentColor: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--amc-datetimepicker-backgroundColor);
  color: var(--amc-datetimepicker-accentColor);
  --lowOpacity: 0.7;
}
.amc-datetimepicker button,
.amc-datetimepicker button:active,
.amc-datetimepicker button:focus,
.amc-datetimepicker button:visited {
  outline: none !important;
  border: none;
  border-radius: 0;
}
.amc-datetimepicker,
.amc-datetimepicker * {
  -webkit-tap-highlight-color: transparent;
}
.amc-datetimepicker-header {
  margin-bottom: 5px;
}
.amc-datetimepicker-date,
.amc-datetimepicker-time {
  margin-top: 10px;
}
.amc-datetimepicker-selecteddate {
  font-size: 0.8rem;
  text-align: center;
  padding: 10px;
  opacity: var(--lowOpacity);
  font-weight: bold;
}
.amc-datetimepicker-am,
.amc-datetimepicker-pm {
  text-align: center;
  background-color: lightblue;
  border: 1px solid transparent;
}
.amc-datetimepicker-hours {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 2px;
}
.amc-datetimepicker-hours-hour {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-height: 3em;
  min-width: 3em;
}
.amc-datetimepicker-hours-hour._selected {
  background-color: var(--amc-datetimepicker-accentColor);
  color: var(--amc-datetimepicker-backgroundColor);
}
.amc-datetimepicker-hours-hour:hover {
  border-color: var(--amc-datetimepicker-accentColor);
}
.amc-datetimepicker-minutes {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 2px;
}
.amc-datetimepicker-minutes-minute {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-height: 3em;
  min-width: 3em;
}
.amc-datetimepicker-minutes-minute._selected {
  background-color: var(--amc-datetimepicker-accentColor);
  color: var(--amc-datetimepicker-backgroundColor);
}
.amc-datetimepicker-minutes-minute:hover {
  border-color: var(--amc-datetimepicker-accentColor);
}
.amc-datetimepicker-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.amc-datetimepicker-selection button {
  border: none;
  background-color: transparent !important;
  cursor: pointer;
  padding: 15px;
}
.amc-datetimepicker-selection button svg {
  height: 20px;
  width: 20px;
}
.amc-datetimepicker-selection button svg * {
  fill: none;
  stroke: var(--amc-datetimepicker-accentColor);
  stroke-width: 4px;
  stroke-miterlimit: 10;
}
.amc-datetimepicker-selection-info {
  flex: 1;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.amc-datetimepicker-calendar,
.amc-datetimepicker-months,
.amc-datetimepicker-years,
.amc-datetimepicker-weeks,
.amc-datetimepicker-days {
  padding: 2px;
}
.amc-datetimepicker-calendar-weeks,
.amc-datetimepicker-calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.amc-datetimepicker-calendar-weeks {
  margin-bottom: 5px;
}
.amc-datetimepicker-calendar-week,
.amc-datetimepicker-calendar-day {
  min-width: 3em;
}
.amc-datetimepicker-calendar-week {
  font-weight: 400;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}
.amc-datetimepicker-calendar-day {
  border: 1px solid transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-height: 3em;
}
.amc-datetimepicker-calendar-day._today:after {
  position: absolute;
  content: '';
  width: 1em;
  height: 0.13em;
  background-color: var(--amc-datetimepicker-accentColor);
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  opacity: var(--lowOpacity);
}
.amc-datetimepicker-calendar-day._selected {
  background-color: var(--amc-datetimepicker-accentColor);
  color: var(--amc-datetimepicker-backgroundColor);
}
.amc-datetimepicker-calendar-day._selected::after {
  background-color: var(--amc-datetimepicker-backgroundColor);
}
.amc-datetimepicker-calendar-day:hover:not(._selected) {
  border-color: var(--amc-datetimepicker-accentColor);
}
.amc-datetimepicker-calendar-day:not(._current):not(._selected) {
  opacity: var(--lowOpacity);
}
.amc-datetimepicker-months,
.amc-datetimepicker-years {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.amc-datetimepicker-months-month,
.amc-datetimepicker-years-year {
  border: 1px solid transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 7em;
  min-height: 3em;
}
.amc-datetimepicker-months-month._today:after,
.amc-datetimepicker-years-year._today:after {
  position: absolute;
  content: '';
  width: 1em;
  height: 0.13em;
  background-color: var(--amc-datetimepicker-accentColor);
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  opacity: var(--lowOpacity);
}
.amc-datetimepicker-months-month._selected,
.amc-datetimepicker-years-year._selected {
  background-color: var(--amc-datetimepicker-accentColor);
  color: var(--amc-datetimepicker-backgroundColor);
}
.amc-datetimepicker-months-month._selected::after,
.amc-datetimepicker-years-year._selected::after {
  background-color: var(--amc-datetimepicker-backgroundColor);
}
.amc-datetimepicker-months-month:hover:not(._selected),
.amc-datetimepicker-years-year:hover:not(._selected) {
  border-color: var(--amc-datetimepicker-accentColor);
}
.amc-datetimepicker-months-month:not(._current):not(._selected),
.amc-datetimepicker-years-year:not(._current):not(._selected) {
  opacity: var(--lowOpacity);
}
