@import "../General/css/common.less";

.amc-datetimepicker {
    --amc-datetimepicker-accentColor: #fff;
    .ComponentsDefault();
    background-color: #12121f;
    color: #eee;

    &-calendar {
        background-color: #222227;
        box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.4);
    }

    &-weekdays {
        height: 50px;
        padding: 0 4px;
        display: flex;
        align-items: center;

        div {
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 1px;
            width: calc(600px / 7);
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
    }

    &-monthname {
        font-size: 2rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 10px;
        cursor: pointer;

        &:hover {
            opacity: 1.8;
        }
    }

    &-fulldate {
        font-size: 1.6rem;
    }

    &-month {
        width: 100%;
        height: 120px;
        background-color: green;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        text-shadow: 0 3px 5px rgba(0,0,0,0.5);

        button {
            cursor: pointer;
        }
    }

    &-days {
        padding: 2px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    &-day {
        font-size: 1.4rem;
        margin: 3px;
        width: calc(440px / 7);
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 3px 5px rgba(0,0,0,0.5);
        transition: background-color 0.2s;
        opacity: 0.5;
        border: 1px solid transparent;

        &:hover:not(._selected) {
            background-color: #262626;
            cursor: pointer;
        }

        &._currentmonth {
            opacity: 1;
        }

        &._selected {
            background-color: green;
        }

        &._today {
            border-color: green;
        }
    }

    &-pickingyear {
        width: 608px;
        height: 120px;
        background-color: var(--amc-datetimepicker-accentColor);
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        text-shadow: 0 3px 5px rgba(0,0,0,0.5);

        button {
            cursor: pointer;
        }
    }

    &-highlightedyear {
        color: white;
        font-weight: bold;
        background-color: green;
        border: none;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

    &-pickingmonths {
        padding: 2px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    &-pickingmonth {
        font-size: 1.4rem;
        margin: 3px;
        width: calc(440px / 4);
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 3px 5px rgba(0,0,0,0.5);
        transition: background-color 0.2s;
        border: 1px solid transparent;
        cursor: pointer;

        &:hover {
            border-color: green;
        }

        &._monthselected {
            background-color: green;
        }
    }

    &-pickingdecade {
        width: 608px;
        height: 120px;
        background-color: green;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        text-shadow: 0 3px 5px rgba(0,0,0,0.5);

        button {
            cursor: pointer;
        }
    }

    &-highlighteddecade {
        color: white;
        font-weight: bold;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

    &-pickingdecadeyears {
        padding: 2px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    &-decadeyears {
        font-size: 1.4rem;
        margin: 3px;
        width: calc(440px / 4);
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 3px 5px rgba(0,0,0,0.5);
        transition: background-color 0.2s;
        border: 1px solid transparent;
        cursor: pointer;
        opacity: 0.5;

        &:hover {
            border-color: green;
        }

        &._currentyear {
            background-color: green;
        }

        &._currentdecade {
            opacity: 1;
        }
    }
}
