.amc-datetimepicker {
    font-size: 10px;
    width: 100%;
    height: 100vh;
    background-color: #12121f;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;

    &-calendar {
        width: 45rem;
        height: 52rem;
        background-color: #222227;
        box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.4);

        .month {
            width: 100%;
            height: 12rem;
            background-color: green;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);

            button {
                cursor: pointer;
            }

            .date {
                display: flex;
                flex-direction: column;

                .month-name {
                    font-size: 2rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 0.2rem;
                    margin-bottom: 1rem;
                }

                .full-date {
                    font-size: 1.6rem;
                }
            }
        }

        .weekdays {
            width: 100%;
            height: 5rem;
            padding: 0 0.4rem;
            display: flex;
            align-items: center;

            div {
                font-size: 1.5rem;
                font-weight: 400;
                letter-spacing: 0.1rem;
                width: calc(44.2rem / 7);
                display: flex;
                justify-content: center;
                align-items: center;
                text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
            }
        }

        .days {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 0.2rem;

            div {
                font-size: 1.4rem;
                margin: 0.3rem;
                width: calc(40.4rem / 7);
                height: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
                transition: background-color 0.2s;

                &:hover:not(.today){
                    background-color:#262626;
                    cursor:pointer; 
                }    
            }

            .not-current-month{
                opacity:0.5;
            }
            
            .today {
                background-color: green;
            }
        }
    }
}
