@import (reference) "../src/css/theme.less";
@import '../General/css/common.less';

.amc-copybutton {
    .ComponentsDefault();
    display: inline-flex;
    align-items: center;
    gap: 6px;

    &-content {
        &._clickable {
            cursor: pointer;

            &:hover {
                color: @components-color-primary;
            }
        }
    }

    &-button {
        ::deep svg:last-child {
            display: none;
        }
    }

    &._success &-button {
        cursor: default;
        pointer-events: none;

        ::deep svg:first-child {
            display: none;
        }

        ::deep svg:last-child {
            display: block;
        }
    }
}
