:root {
  --LinkColor: #00698f;
}
* {
  margin: 0;
  padding: 0;
}
body {
  height: 90vh;
  width: 90vw;
  background-image: url(/bg4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
body .components {
  width: 100%;
}
body .components-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}
body .components-links a,
body .components-links a:hover,
body .components-links a:active,
body .components-links a:focus,
body .components-links a:visited {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 1em;
  font-family: sans-serif;
  letter-spacing: 2px;
  margin-left: 20px;
  border-bottom: 1px groove transparent;
}
body .components-links a:hover {
  border-color: #fff;
}
body .components-icon {
  display: none;
}
@media screen and (max-width: 1000px) {
  body .components-links {
    visibility: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    right: 45px;
    top: 53px;
    padding: 5px;
    z-index: 2;
    background-color: rgba(100, 100, 100, 0.3);
    border-radius: 15px;
  }
  body .components-links a,
  body .components-links a:hover,
  body .components-links a:active,
  body .components-links a:focus,
  body .components-links a:visited {
    padding: 5px;
    margin-left: 0;
  }
  body .components-links a:hover {
    border-bottom: 1px groove #fff;
    color: white;
  }
  body .components-links a:hover:active {
    border-bottom-color: var(--LinkColor);
  }
  body .components ._clicked {
    visibility: visible;
  }
  body .components-icon {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  body .components-icon svg {
    fill: rgba(255, 255, 255, 0.9);
    background-color: transparent;
    width: 40px;
    height: 40px;
  }
}
body main {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
body main > .amc-progressbar {
  --amc-progressbar-accentColor: var(--LinkColor) !important;
  width: 600px;
}
body main > .amc-videoplayer {
  --amc-videoplayer-accentColor: var(--LinkColor) !important;
  width: 800px;
  height: 450px;
}
body main > .amc-datetimepicker {
  --amc-datetimepicker-backgroundColor: #e0e0e0 !important;
  --amc-datetimepicker-accentColor: var(--LinkColor) !important;
}
