<div class="components">
    <div class="components-links">
    <a href="/progressbar">Progress Bar</a>
    <a href="/videoplayer">Video Player</a>
    <a href="/datetimepicker">Date Time Picker</a>
    </div>
</div>