.TableFooter {
  width: 100%;
  height: 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.04);
}
.TableFooter > div {
  display: flex;
  padding-top: 6px;
  font-size: 12px;
}
.TableFooter > div .GridInformation {
  flex: 1;
  opacity: 0.7;
  padding-left: 8px;
}
.TableFooter > div .GridPaging {
  display: flex;
}
.TableFooter > div .GridPaging > span {
  opacity: 0.7;
}
.TableFooter > div .GridPaging svg {
  width: 14px;
  height: 14px;
}
.TableFooter > div .GridPaging svg polyline {
  fill: none;
  stroke-width: 4px;
  stroke-miterlimit: 10;
}
.TableFooter > div .GridPaging .SubgridNextPage,
.TableFooter > div .GridPaging .SubgridPreviousPage {
  cursor: pointer;
  letter-spacing: 1px;
  opacity: 1;
  padding: 3px 12px;
  font-weight: 600;
}
.TableFooter > div .GridPaging .SubgridNextPage:hover:not(.Disabled) polyline,
.TableFooter > div .GridPaging .SubgridPreviousPage:hover:not(.Disabled) polyline {
  stroke-width: 6px;
}
.TableFooter > div .GridPaging .SubgridNextPage.Disabled,
.TableFooter > div .GridPaging .SubgridPreviousPage.Disabled {
  pointer-events: none;
  opacity: 0;
  cursor: default !important;
}
.TableFooter > div .GridPaging .SubgridNextPage svg,
.TableFooter > div .GridPaging .SubgridPreviousPage svg {
  width: 1em;
  height: 1em;
  fill: var(--accentColor);
}
.TableFooter > div .GridPaging .SubgridNextPage svg polyline,
.TableFooter > div .GridPaging .SubgridPreviousPage svg polyline {
  stroke: var(--accentColor);
}
.TableFooter > div .GridPaging .SubgridPreviousPage.Disabled {
  display: none;
}
