.Selectable {
	-webkit-touch-callout: initial;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.UnSelectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ComponentsDefault {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9rem;
	.UnSelectable();

	button {
		&, &:active, &:focus, &:visited {
			outline: none !important;
			border: none;
			border-radius: 0;
		}
	}
}