@break-small: ~"only screen and (min-width: 450px)";
@break-medium: ~"only screen and (min-width: 800px)";
@break-large: ~"only screen and (min-width: 1100px)";

@headerZIndex: 999;
@sidebarZIndex: 9999;
@messageZIndex: 9999;
@popupZIndex: 9999;

.HorizontalScrolling {
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
	overflow-x: hidden;
}
