.amc-progressbar {
  margin-top: 30vh;
  display: grid;
  grid-template-areas: 'left middle right';
  grid-template-columns: 0 max-content 1fr;
  align-items: center;
}
.amc-progressbar input[type="range"] {
  /*grid-column: span 3;*/
  display: none !important;
}
.amc-progressbar-left,
.amc-progressbar-right {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  background-color: #fff;
  position: relative;
}
.amc-progressbar-left {
  grid-area: left;
}
.amc-progressbar-right {
  grid-area: right;
}
.amc-progressbar-middle {
  grid-area: middle;
}
.amc-progressbar-middle button {
  padding: 0;
  z-index: 1;
}
.amc-progressbar-middle button .amc-progressbar-circle {
  fill: transparent;
  stroke: #fff;
  stroke-width: 3px;
}
.amc-progressbar button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  /*opacity: .6;*/
  transition: opacity 0.2s ease-in-out;
}
.amc-progressbar button .amc-progressbar-svg-fill {
  fill: #fff;
}
.amc-progressbar button:hover {
  opacity: 1;
}
