<div class="components">
    <div class="components-links">
        <a href="/progressbar">Progress Bar</a>
        <a href="/volumebar">Volume Bar</a>
        <a href="/videoplayer">Video Player</a>
        <a href="/datetimepicker">Date Time Picker</a>
        <a href="/popup">Popup</a>
        <a href="/dialog">Dialog</a>
        <a href="/dockscrolling">Dock Scrolling</a>
        <a href="/icons">Icons</a>
    </div>
</div>