<nav class="nav">
    <div class="nav-brand">
        <span class="nav-brand-mark">▦</span>
        <span>CloudGrid Harness</span>
    </div>

    <div class="nav-links">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Overview</NavLink>
        <NavLink class="nav-link" href="basic">Basic &amp; Sorting</NavLink>
        <NavLink class="nav-link" href="selection">Selection &amp; Actions</NavLink>
        <NavLink class="nav-link" href="paging">Paging Modes</NavLink>
        <NavLink class="nav-link" href="reordering">Row Reordering</NavLink>
        <NavLink class="nav-link" href="states">States &amp; Theming</NavLink>
    </div>
</nav>
