.ComponentsDefault {
  user-select: none;
  font-family: 'Segoe UI';
  font-size: 0.9rem;
}
.ComponentsDefault button,
.ComponentsDefault button:active,
.ComponentsDefault button:focus,
.ComponentsDefault button:visited {
  background: none;
  outline: none !important;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.ComponentsDefault,
.ComponentsDefault * {
  -webkit-tap-highlight-color: transparent;
}
.ComponentsDefault ::deep .--amc-iconbutton,
.ComponentsDefault ::deep .--amc-iconbutton:active,
.ComponentsDefault ::deep .--amc-iconbutton:focus,
.ComponentsDefault ::deep .--amc-iconbutton:visited {
  padding: 4px;
  display: flex;
}
.ComponentsDefault ::deep .--amc-iconbutton svg {
  height: 1.8em;
}
.ComponentsDefault ::deep .amc-svg-fill {
  fill: var(--amc-accentColor);
}
.ComponentsDefault ::deep .amc-svg-stroke {
  fill: none;
  stroke: var(--amc-accentColor);
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.ComponentsDefault ::deep .amc-svg-stroke._corner-rounded {
  stroke-linecap: round;
}
.amc-SelectableField {
  border: 1px solid transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.amc-SelectableField._today:after,
.amc-SelectableField._now:after {
  position: absolute;
  content: '';
  width: 1em;
  height: 0.13em;
  background-color: var(--amc-datetimepicker-accentColor);
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  opacity: var(--lowOpacity);
}
.amc-SelectableField._selected {
  background-color: var(--amc-datetimepicker-accentColor);
  color: var(--amc-datetimepicker-backgroundColor);
}
.amc-SelectableField._selected::after {
  background-color: var(--amc-datetimepicker-backgroundColor);
}
.amc-SelectableField:hover:not(._selected) {
  border-color: var(--amc-datetimepicker-accentColor);
}
.amc-SelectableField:not(._current):not(._selected) {
  opacity: var(--lowOpacity);
}
.amc-datetimepicker {
  --amc-datetimepicker-backgroundColor: #fff;
  --amc-datetimepicker-accentColor: #000;
  user-select: none;
  font-family: 'Segoe UI';
  font-size: 0.9rem;
  background-color: var(--amc-datetimepicker-backgroundColor);
  color: var(--amc-datetimepicker-accentColor);
  --lowOpacity: 0.7;
}
.amc-datetimepicker button,
.amc-datetimepicker button:active,
.amc-datetimepicker button:focus,
.amc-datetimepicker button:visited {
  background: none;
  outline: none !important;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.amc-datetimepicker,
.amc-datetimepicker * {
  -webkit-tap-highlight-color: transparent;
}
.amc-datetimepicker ::deep .--amc-iconbutton,
.amc-datetimepicker ::deep .--amc-iconbutton:active,
.amc-datetimepicker ::deep .--amc-iconbutton:focus,
.amc-datetimepicker ::deep .--amc-iconbutton:visited {
  padding: 4px;
  display: flex;
}
.amc-datetimepicker ::deep .--amc-iconbutton svg {
  height: 1.8em;
}
.amc-datetimepicker ::deep .amc-svg-fill {
  fill: var(--amc-accentColor);
}
.amc-datetimepicker ::deep .amc-svg-stroke {
  fill: none;
  stroke: var(--amc-accentColor);
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.amc-datetimepicker ::deep .amc-svg-stroke._corner-rounded {
  stroke-linecap: round;
}
.amc-datetimepicker-header {
  margin-bottom: 5px;
}
.amc-datetimepicker-date,
.amc-datetimepicker-time {
  margin-top: 10px;
}
.amc-datetimepicker-selecteddate {
  font-size: 0.8rem;
  text-align: center;
  padding: 10px;
  opacity: var(--lowOpacity);
  font-weight: bold;
}
.amc-datetimepicker-am,
.amc-datetimepicker-pm {
  text-align: center;
  background-color: lightblue;
  border: 1px solid transparent;
}
.amc-datetimepicker-hours {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.amc-datetimepicker-minutes {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.amc-datetimepicker-calendar,
.amc-datetimepicker-months,
.amc-datetimepicker-years,
.amc-datetimepicker-weeks,
.amc-datetimepicker-days,
.amc-datetimepicker-hours,
.amc-datetimepicker-minutes {
  padding: 2px;
}
.amc-datetimepicker-calendar-weeks,
.amc-datetimepicker-calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.amc-datetimepicker-calendar-weeks {
  margin-bottom: 5px;
}
.amc-datetimepicker-calendar-week,
.amc-datetimepicker-calendar-day {
  min-width: 3em;
}
.amc-datetimepicker-calendar-week {
  font-weight: 400;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}
.amc-datetimepicker-calendar-day {
  border: 1px solid transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-height: 3em;
}
.amc-datetimepicker-calendar-day._today:after,
.amc-datetimepicker-calendar-day._now:after {
  position: absolute;
  content: '';
  width: 1em;
  height: 0.13em;
  background-color: var(--amc-datetimepicker-accentColor);
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  opacity: var(--lowOpacity);
}
.amc-datetimepicker-calendar-day._selected {
  background-color: var(--amc-datetimepicker-accentColor);
  color: var(--amc-datetimepicker-backgroundColor);
}
.amc-datetimepicker-calendar-day._selected::after {
  background-color: var(--amc-datetimepicker-backgroundColor);
}
.amc-datetimepicker-calendar-day:hover:not(._selected) {
  border-color: var(--amc-datetimepicker-accentColor);
}
.amc-datetimepicker-calendar-day:not(._current):not(._selected) {
  opacity: var(--lowOpacity);
}
.amc-datetimepicker-months,
.amc-datetimepicker-years {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.amc-datetimepicker-months-month,
.amc-datetimepicker-years-year,
.amc-datetimepicker-hours-hour,
.amc-datetimepicker-minutes-minute {
  border: 1px solid transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 7em;
  min-height: 3em;
}
.amc-datetimepicker-months-month._today:after,
.amc-datetimepicker-years-year._today:after,
.amc-datetimepicker-hours-hour._today:after,
.amc-datetimepicker-minutes-minute._today:after,
.amc-datetimepicker-months-month._now:after,
.amc-datetimepicker-years-year._now:after,
.amc-datetimepicker-hours-hour._now:after,
.amc-datetimepicker-minutes-minute._now:after {
  position: absolute;
  content: '';
  width: 1em;
  height: 0.13em;
  background-color: var(--amc-datetimepicker-accentColor);
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  opacity: var(--lowOpacity);
}
.amc-datetimepicker-months-month._selected,
.amc-datetimepicker-years-year._selected,
.amc-datetimepicker-hours-hour._selected,
.amc-datetimepicker-minutes-minute._selected {
  background-color: var(--amc-datetimepicker-accentColor);
  color: var(--amc-datetimepicker-backgroundColor);
}
.amc-datetimepicker-months-month._selected::after,
.amc-datetimepicker-years-year._selected::after,
.amc-datetimepicker-hours-hour._selected::after,
.amc-datetimepicker-minutes-minute._selected::after {
  background-color: var(--amc-datetimepicker-backgroundColor);
}
.amc-datetimepicker-months-month:hover:not(._selected),
.amc-datetimepicker-years-year:hover:not(._selected),
.amc-datetimepicker-hours-hour:hover:not(._selected),
.amc-datetimepicker-minutes-minute:hover:not(._selected) {
  border-color: var(--amc-datetimepicker-accentColor);
}
.amc-datetimepicker-months-month:not(._current):not(._selected),
.amc-datetimepicker-years-year:not(._current):not(._selected),
.amc-datetimepicker-hours-hour:not(._current):not(._selected),
.amc-datetimepicker-minutes-minute:not(._current):not(._selected) {
  opacity: var(--lowOpacity);
}
.amc-datetimepicker-hours-hour {
  min-width: 3em;
}
.amc-datetimepicker-minutes-minute {
  min-width: 2.5em;
}
.amc-datetimepicker-datetimeseperator {
  margin-bottom: 20px;
}
