.cloudvideoplayer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.cloudvideoplayer-video {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  background-color: #000;
  z-index: -1;
}
.cloudvideoplayer-video video {
  height: 100%;
  width: 100%;
}
.cloudvideoplayer-info,
.cloudvideoplayer-controls,
.cloudvideoplayer-progress {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  color: #fff;
}
.cloudvideoplayer-controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
